.carousel-image-size {
    height: 600px; 
    object-fit: cover;
}

.bg-image-mask:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.btn-line {
    transform: scale(1.2);
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
}

.card-img-bg-color {
    transition: all 0.4s ease-in-out;
    opacity: 1;
}

.card-img-bg-color:hover {
    opacity: 0.4;
}
